$site_main_color: #fdbc04;

//auth & registe
// $user_form_width: 66vw;
$user_form_width: 60vw;
$user_form_height: 40px;
$user_form_radius: 4px;
$user_form_margin_top: 20px;
$user_login_button_width: $user_form_width + 5.3vw;
$user_input_color: #16325c;

//checkout
$check_icon_size: 25px;
$check_font_weight: 500;

//point_Buy
$point_icon_size: 30px;
$point_text_color: #7b7c7d;
