.footer_wrap {
  display: none;
  background-color: #252525;
  color: #fff;
  height: 300px;
}

/***************     PC     ***************/
@include screen-mq(pc) {
  .footer_wrap {
    display: block;
    position: relative;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .footer_layout {
    display: flex;
    .footer_logo {
      margin: 80px;
    }
    .footer_terms {
      font-size: 0.8rem;
      margin: 80px 80px 0 auto;
      a {
        color: #fff;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}
